button{
    background-color: black;
    color: aliceblue;
    padding: 6px 20px;
    border-radius: 5px;
    position: fixed;
    left: 44vw;
    width: 100px;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    
}
td {
    padding: 5px 20px;
    
   

}